
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Utilities
@import 'utilities';

//stylesheets
@import 'sidebar';
@import 'overlay';

// Headers
h1 {
  margin: 0 0 11px;
}

label {
  text-transform: capitalize;
  width: 100%;
}
